<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd ">
    <mvc:annotation-driven/>
    <!--对静态资源文件的访问-->  
    <!-- <mvc:resources mapping="images/*.jsp" location="/images/" /> -->
    <mvc:resources mapping="css/**" location="/css/" /> 
    <mvc:resources mapping="js/**" location="/js/" /> 
    <mvc:resources mapping="pic/*.jpg" location="/pic/" />
    <mvc:resources location="/bootstrap/" mapping="bootstrap/**"/>
    <mvc:resources location="/" mapping="/**/*.html"/> 
    <!-- <mvc:resources location="/" mapping="/**/*.jsp"/>   -->
    <context:component-scan base-package="controller"/>
  	<!--   配置视图解析器 -->
<!--  	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value=""/>
		<property name="suffix" value=".jsp"/>
	</bean> -->
	<!-- 文件上传进行的配置 -->
	<bean
      id="multipartResolver"
      class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <!-- 设置上传文件的最大尺寸为1MB -->  
     <property name="maxUploadSize">  
     	<value>1048576</value>  
     </property>  
	</bean>
	 <!-- 处理器映射器HandlerMapping -->  
     <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>  
	 <!-- 拦截器 -->  
    <mvc:interceptors>  
      <!-- 多个拦截器，顺序执行 -->  
      <mvc:interceptor>  
          <mvc:mapping path="/**"/>  
          <mvc:exclude-mapping path="/register.do"/>
          <mvc:exclude-mapping path="/check.do"/>
          
          
          <bean class="interceptor.LoginIntercepter"/>  
      </mvc:interceptor>  
    </mvc:interceptors>  
	<!-- 以json的格式返回 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>	
				</bean>
			</list>
		</property>
	</bean>
	

</beans>